body {
  font-family: 'Roboto', sans-serif;
}

table.paleBlueRows {
    border: 1px solid #D3D3D3;
    width: 300px;
    height: 200px;
    text-align: left;
    border-collapse: collapse;
  }
  table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #D3D3D3;
    padding: 3px 5px;
  }
  table.paleBlueRows tbody td {
    font-size: 14px;
  }
  table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 1px solid #D3D3D3;
  }
  table.paleBlueRows thead th {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 1px solid #D3D3D3;
  }
  table.paleBlueRows thead th:first-child {
    border-left: none;
  }

/* ----- Week 8.1 ----- */

  #greenBox { 
    color: #fff;
    margin: 10px;
    padding: 15px; 
    border: 3px solid gray; 
    width:60px;
  }
/* ----- end for 8.1 Week 8  ----- */

/* ----- Week 8.2 ----- */
.conWid {
  width: 100%;
}

  #fruits {
    margin: 0 auto;
    width: 15%;
  }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4c4eaf;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* ----- end for 8.2 Week 8  ----- */


/* ----- Week 8.3 ----- */
.button {
  background-color: #d61077;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 20px 0 0 20px;
  height: 300px; /* Should be removed. Only for demonstration */
}